<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Define link3 -->
  <link name="link3">
    
    <!-- Visual -->
    <visual>
      <origin xyz="0.01214 0.08073 -0.19022" rpy="1.5708 0 0"/>
      <!-- 0.01214 0.08073 -0.19022 -->
      <geometry>
        <mesh filename="package://fredo1_robot/../cad/all_files/d_servoarm.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>

    <!-- Collision -->
    <collision>
      <origin xyz="0.01214 0.08073 -0.19022" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="package://fredo1_robot/../cad/all_files/d_servoarm.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>



    <!-- Inertial -->
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.005" ixy="0.0" ixz="0.0"
               iyy="0.005" iyz="0.0"
               izz="0.005"/>
    </inertial>
  </link>

  <gazebo reference="link3">
    <material>Gazebo/Red</material>
  </gazebo>

</robot>
