<launch>
  <!-- Start Gazebo -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find fredo1_robot)/xacro/fredo1.xacro"/>

  <!-- Spawn robot in Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model fredo1"
        output="screen"/>

  <!-- Launch Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="world_name" value="$(find fredo1_robot)/worlds/my.world"/>
  </include>

</launch>
