<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="fredo1">

  <!-- Load materials -->
  <xacro:include filename="$(find fredo1_robot)/urdf/materials.xacro"/>

  <!-- Load links -->
  <xacro:include filename="$(find fredo1_robot)/urdf/links/base_link.xacro"/>
  <xacro:include filename="$(find fredo1_robot)/urdf/links/link1.xacro"/>
  <xacro:include filename="$(find fredo1_robot)/urdf/links/link2.xacro"/>
  <xacro:include filename="$(find fredo1_robot)/urdf/links/link3.xacro"/>
  <!-- <xacro:include filename="$(find fredo1_robot)/urdf/links/end_effector.xacro"/> -->

  <!-- Load joints -->
  <xacro:include filename="$(find fredo1_robot)/urdf/joints/joint0.xacro"/>
  <xacro:include filename="$(find fredo1_robot)/urdf/joints/joint1.xacro"/>
  <xacro:include filename="$(find fredo1_robot)/urdf/joints/joint2.xacro"/>
  <xacro:include filename="$(find fredo1_robot)/urdf/joints/joint3.xacro"/>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <!-- <robotNamespace>/fredo1</robotNamespace> -->
    </plugin>
  </gazebo>

</robot>
